body {
    margin: 0;
    padding: 0;
    background: #FF0000;
    font-family: Klavika-light;
}

.login-box {

    width: 350px;
    height: 80%;
    background: #FFF;
    top: 48%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 25px 30px;

}

.login-box > .logo {

    position: relative;
    top: 0px;
    display: block;
    margin: auto;
    margin-bottom: 10%;

}

.login-box > form > input[type=text], input[type=password], select{

    font-family: Klavika-light;
    display: inline-block;
    width: 90%;
    margin-bottom: 25px;
    border: none;
    background: #EEF2F3;
    height: 30px;
    border-radius: 20px;
    text-indent: 20px;
    font-style: normal;
    color: gray;
    margin-left: 5%;

}

.recordar {

   color: gray;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 5%;

}

.logos {

    background: #FF0000;
    top: 18%;
    left: 50%;
    width: 100%;
    height: 10%;
    transform: translate(-50%, -50%);
    position: relative;
    padding: 30px 30px;
    margin-right: 20%;

}

.login-box > .logos > img {

    margin-left: 8%;
    margin-bottom: 6%;
    margin-right: 8%;

}

.login-box > .logos > a {

    color: white;
    list-style: none;
    text-decoration: none;
    margin: 3%;
    padding: 5%;

}

.login-box > form > a {

    position: relative;
    text-decoration: none;
    color: gray;
    margin-left: 20%;

}

input[type=submit] {

    width: 90%;
    height: 30px;
    color: white;
    letter-spacing: 0.07em;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
    transition: 0.4s;
    font-family: Klavika-light;
    margin-left: 5%;
    
}

input[type=button]:hover, input[type=submit]:hover {

    background-color: transparent;
    color: black;
 
}

@font-face {

    font-family: Klavika-light;
    src: url(../fonts/klavika-light.otf) format('opentype');

}