{% extends "layout.html" %}
{% block title %}Inicio{% endblock %}

{% block body %}
<body>

    <main>
        <div class="descripcion-pagina">
            <div>
                <h1>Inicio</h1>
            </div>
            <div>
                <p>Visualiza los datos más relevantes de la empresa. </p>
            </div>
        </div>
        <div class="contenedor-principal">

            <div class="primera-fila">
                <div>
                    <h1>300</h1>
                    <p>Número de Empleados</p>
                </div>

                <div>
                    <h1>Mercadeo</h1>
                    <p>Mayor número de empleados</p>
                </div>

                <div>
                    <h1>Gerencia</h1>
                    <p>Menor número de empleados</p>
                </div>
            </div>

            <div class="segunda-fila">
                <div>
                    <h1>Reporte mensual de ventas</h1>
                </div>
                <div>
                    <h1>Empleada del mes</h1>
                </div>
            </div>

        </div>
    </main>
    {% endblock %}
